body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #08082f;
    color: #ffffff;
}
div {
    background-color: gray;
    padding: 8px;
    margin: 32px;
}
.link {
    font-size: 10px;
}